<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div>
    <a style="cursor: pointer;" (click) = "onClose()"> X </a>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div>
                <img [src]="singleRecipe.imagePath" alt="{{ singleRecipe.name }}" class="img-responsive">
                
                    <h5 class="card-title"><b>{{ singleRecipe.name }}</b></h5>
                    <p class="card-text" [innerHTML] = "singleRecipe.description"></p>

                    <em>- {{ singleRecipe.user }}</em>
                
            </div>

        </div>
    </div>
</div>
    
</div>